
h1{
	position: relative;
	text-align:center;
	font-size: 350%;
	color:#8CC9FE;
	text-shadow: -4px 2px 3px rgba(0, 0, 0, 0.47);
	font-family: Arial;
	
}
h3
{
	color: #007AA5;
}

li{
	color: #007AA5;
}