
h2{
		color: #007AA5;
		text-align:center;
}
p{
	
		color: #007AA5;
}

li{
	color: #007AA5;
	font-size: 23px;

}
p{
	color: #007AA5;

}
h3{
	text-align:center;
	color: #007AA5;

}
ul{

	color: #007AA5;
}
b{

	color: #007AA5;
}

